{{extend "layout_demo.html"}}

{{block content_header_title}}<h1>uliweb-apijson api examples</h1>{{end content_header_title}}

{{block content_main}}
{{use "ui.vue"}}
{{use "ui.iview"}}

<div id="app" class='box'>
<div class="box-body">
    <tabs v-model:value="tab_current" type="card" :animated="false">
        <tab-pane label="apijson get" name="tab_get"></tab-pane>
        <tab-pane label="apijson head" name="tab_head"></tab-pane>
        <tab-pane label="apijson post" name="tab_post"></tab-pane>
        <tab-pane label="apijson put" name="tab_put"></tab-pane>
        <tab-pane label="apijson delete" name="tab_delete"></tab-pane>
    </tabs>
    <Row>
        <i-col span="3"><div align="center">login user</div></i-col>
        <i-col span="8"><i-input value="{{=user_info}}" readonly/></i-col>
        {{if request.user:}}
        <i-col span="1"><div align="center"><i-button type="warning" size="large" @click="logout">Logout</i-button></div></i-col>
        {{else:}}
        <i-col span="1"><div align="center"><i-button type="primary" size="large" @click="login">Login</i-button></div></i-col>
        {{pass}}
    </Row>
    <Row v-if="tab_current==='tab_get'">
            <i-col span="3"><div align="center">HTTP POST URL</div></i-col>
            <i-col span="8"><i-input value="/apijson/get" readonly/></i-col>
    </Row>
    <Row v-if="tab_current==='tab_get'">
        <i-col span="3"><div align="center"><strong>apijson get</strong> request examples</div></i-col>
        <i-col span="8">
            <i-select v-model="select_current">
                <i-option v-for="item in request_get" :value="item.value" :key="item.value">{ item.label }</i-option>
            </i-select>
        </i-col>
    </Row>

    <Row v-if="tab_current==='tab_head'">
        <i-col span="3"><div align="center">HTTP HEAD URL</div></i-col>
        <i-col span="8"><i-input value="/apijson/head" readonly/></i-col>
    </Row>
    <Row v-if="tab_current==='tab_head'">
        <i-col span="3"><div align="center"><strong>apijson head</strong> request examples</div></i-col>
        <i-col span="8">
            <i-select v-model="select_current">
                <i-option v-for="item in request_head" :value="item.value" :key="item.value">{ item.label }</i-option>
            </i-select>
        </i-col>
    </Row>

    <Row v-if="tab_current==='tab_post'">
            <i-col span="3"><div align="center">POST URL</div></i-col>
            <i-col span="8"><i-input value="/apijson/post" readonly/></i-col>
    </Row>
    <Row v-if="tab_current==='tab_post'">
        <i-col span="3"><div align="center"><strong>apijson post</strong> request examples</div></i-col>
        <i-col span="8">
            <i-select v-model="select_current">
                <i-option v-for="item in request_post" :value="item.value" :key="item.value">{ item.label }</i-option>
            </i-select>
        </i-col>
    </Row>

    <Row v-if="tab_current==='tab_put'">
        <i-col span="3"><div align="center">PUT URL</div></i-col>
        <i-col span="8"><i-input value="/apijson/put" readonly/></i-col>
    </Row>
    <Row v-if="tab_current==='tab_put'">
        <i-col span="3"><div align="center"><strong>apijson put</strong> request examples</div></i-col>
        <i-col span="8">
            <i-select v-model="select_current">
                <i-option v-for="item in request_put" :value="item.value" :key="item.value">{ item.label }</i-option>
            </i-select>
        </i-col>
    </Row>

    <Row v-if="tab_current==='tab_delete'">
        <i-col span="3"><div align="center">DELETE URL</div></i-col>
        <i-col span="8"><i-input value="/apijson/delete" readonly/></i-col>
    </Row>
    <Row v-if="tab_current==='tab_delete'">
        <i-col span="3"><div align="center"><strong>apijson delete</strong> request examples</div></i-col>
        <i-col span="8">
            <i-select v-model="select_current">
                <i-option v-for="item in request_delete" :value="item.value" :key="item.value">{ item.label }</i-option>
            </i-select>
        </i-col>
    </Row>

    <Row>
        <i-col span="3"><div align="center">request data</div></i-col>
        <i-col span="8"><i-input v-model="request_data" type="textarea" :autosize="{minRows: 3,maxRows: 15}" placeholder="request data" /></i-col>
        <i-col span="1"><div align="center"><i-button type="primary" size="large" @click="post_request_data" v-bind:disabled="!can_post">Post</i-button></div></i-col>
    </Row>
    <Row>
        <i-col span="3"><div align="center">response data</div></i-col>
        <i-col span="8"><i-input v-model="response_data" type="textarea" readonly :autosize="{minRows: 5,maxRows: 30}" /></i-col>
    </Row>
</div>
</div>
<script>
var vm = new Vue({
    el: '#app',
    delimiters: ['{', '}'],
    data: {
        request_get : {{<<request_get_json}},
        request_head : {{<<request_head_json}},
        request_post : {{<<request_post_json}},
        request_put : {{<<request_put_json}},
        request_delete : {{<<request_delete_json}},
        request_data : "",
        select_current : "",
        can_post : true,
        response_data : "",
        tab_current : "tab_get",
        tab2url : {
            "tab_get":"{{=url_for('uliweb_apijson.apijson.views.ApiJson.get')}}",
            "tab_head":"{{=url_for('uliweb_apijson.apijson.views.ApiJson.head')}}",
            "tab_post":"{{=url_for('uliweb_apijson.apijson.views.ApiJson.post')}}",
            "tab_put":"{{=url_for('uliweb_apijson.apijson.views.ApiJson.put')}}",
            "tab_delete":"{{=url_for('uliweb_apijson.apijson.views.ApiJson.delete')}}"
        }
    },
    methods: {
        init_default: function(){
            vm.request_data = vm.request_get[0].value
            vm.select_current = vm.request_data
        },
        post_request_data: function(){
            $.ajax({
                type: "POST",
                contentType: 'application/json',
                url: vm.tab2url[vm.tab_current],
                data: vm.request_data,
                success: function (data) {
                    vm.response_data = JSON.stringify(data,null,4)
                    vm.can_post = false
                }
            })
        },
        login: function(){window.location.href="{{=url_for('uliweb_apps.login.views.login')}}"},
        logout: function(){window.location.href="{{=url_for('uliweb_apps.login.views.logout')}}"}
    },
    watch: {
        request_data : function(n,o){
            vm.can_post = true
        },
        tab_current : function(n,o){
            if (n=="tab_get") {
                vm.request_data = vm.request_get[0].value
            }
            else if (n=="tab_head") {
                vm.request_data = vm.request_head[0].value
            }
            else if (n=="tab_post") {
                vm.request_data = vm.request_post[0].value
            }
            else if (n=="tab_put") {
                vm.request_data = vm.request_put[0].value
            }
            else if (n=="tab_delete") {
                vm.request_data = vm.request_delete[0].value
            }
            vm.select_current = vm.request_data
            vm.response_data = ""
        },
        select_current : function(n,o){
            if (n!=null && n!="" && n!==vm.request_data) {
                vm.request_data = n
            }
            else {
                vm.select_current = vm.request_data
            }
        }
    }
})
vm.init_default()
</script>
{{end content_main}}
